.landing_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
}

.content {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    margin-bottom: 20px;
}

.header_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 18px;
    padding: 30px;
    cursor: pointer;
}

.main {
    width: 100%;
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    flex: 1;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.main_left_content {
    padding-left: 40px;
    width: 40%;
    flex: 1;
}

.main_right_content {
    padding-right: 30px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.main_left_header {
    color: rgba(var(--dark-grey), 1);
    font-size: 2.0rem;
    line-height: 1.25;
    padding-bottom: 2.0rem;
    flex: 1;
}

.main_left_content_text {
    font-family: Montserrat, sans-serif;
    color: rgba(var(--dark-grey), 1);
    line-height: 1.5;
    padding-bottom: 1rem;
    width: 70%;
}

.main_button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 1.0rem 2.5rem;
    background-color: #181818;
    color: white;
    border-radius: 5rem;
    text-transform: uppercase;
    font-size: 1.0rem;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.785, .135, .15, .86);
}

.main_button:hover {
    background-color: #FF02B4
}

.header_action_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wallet_button:hover {
    background-color: #FF02B4
}

.wallet_short_address {
    cursor: pointer;
    margin-left: 15px;
    display: flex;
    color: #FF02B4;
    font-size: 15px;
    border: solid 1px;
    padding: 0.2rem 1.5rem;
    border-radius: 5rem;
    border-color: #FF02B4;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 2, 180, 0.15)
}

.MuiAvatar-img {
    margin-left: 7px;
    margin-right: 5px;
}

.logo_button {
    cursor: pointer;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.default-mint-img {
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.total-quanity {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.redeemed-group {
    /* transform: translateY(-50px); */
    /* color: white; */
    display: flex;
    padding: 0px 10px;
    font-weight: 700;
    justify-content: space-between;
}

.minter {
    height: 1px;
    display: flex;
    justify-content: center;
    /* transform: translateY(-105px); */
}

.minter-container {
    position: relative;
    transform: translateY(-353px);
}

.minter-container .MuiButton-contained {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: none;
    color: white;
    width: 300px;
    height: 300px;
    border: none;
    font: inherit;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.minter-container .MuiButton-root {
    padding: 15px 0px, 0px, 0px;
    font-size: 2rem;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 700;
    line-height: 1.75;
    border-radius: 10px;
    letter-spacing: 3px;
}

.minter-container .MuiButton-contained:hover {
    background-color: rgb(255, 2, 180, 0.3);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wallet-baby {
    min-width: 130px;
}

.wallet-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header_item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        font-size: 14px;
        padding: 20px;
        cursor: pointer;
    }
    .header {
        padding: 0px;
    }
    .main_left_content {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 0px;
        width: 100%;
        flex: 1;
    }
    .main_left_content h1 {
        margin: 0px;
        padding: 0px;
    }
    .main_right_content {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-bottom: 30px;
    }
    .wallet-mobile {
        display: flex;
        margin-bottom: 50px;
    }
    .wallet-full {
        display: none;
    }
    .main_left_header {
        width: 100%;
    }
}